body{
  font-family: Inter;
}
.main  {
  position: relative;
  top:32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: auto;
}

table,
th,
td {
  border: 1px solid;
  padding: 8px;
}


th{
  background-color: darkgray;
}

.done{
  background-color: rgb(183, 250, 183);
  color: rgb(3, 76, 3);
  font-weight: 800;
}

.doing{
  background-color: rgb(250, 224, 183);
  color: rgb(76, 41, 3);
  font-weight: 800;
}